<h1>Welcome to Your List Maker</h1>

<div class="container">

  <ol>
    <% @lists.each() do |list| %>
      <li><a href='/lists/<%= list.id() %>'><%= list.name() %></a></li>
    <% end %>
  </ol>


  <a href="/lists/new" name="Add a New List">Add a New List</a>
</div>
