<h1><%= @list.name() %></h1>

<% if @list.tasks().any? %>
  <h3>Here are all the tasks in this list:</h3>


<ul>
   <% @list.tasks().each() do |task| %>
     <li><%= task.description() %></li>
   <% end %>
</ul>

  <% else %>
    <p>There are no tasks on this list</p>

  <% end %>

  

<form action='/tasks' method ='post'>

<input id="list_id" name="list_id" type="hidden" value="<%= @list.id() %>">

  <div class='form-group'>
    <label for='task'>Add a new task</label>
    <input id='task' name='task' type='text' class='form-control'>

  <button type="submit" class="btn btn-warning">Add Task</button>
  </div>
</form>
