<form action='/lists/:id' method = 'post'>


  <div class='form-group'>
    <label for='task'>Add a new task</label>
    <input id='task' name='task' type='text' class='form-control'>

  <button type="submit" class="btn btn-warning">Add Task</button>
  </div>
</form>
